*{
    margin: 0px;
    padding: 0px;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(185, 105, 200);
    transition: background 3.2s;
}
label{
    color:white;
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
