*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color:#073a73;
}

.container{
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
    width: 350px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:white;
    box-shadow: 6px 6px 3px black;
}
.container h1{
    color:black;
    margin-top: 10px;
    padding: 5px;
}
.container input{
    text-align: center;
    padding: 15px;
    margin: 20px;
    border: 1px solid;
    border-radius: 30px;
    background-color:rgba(247, 242, 242, 0);
    width: 275px;

}
.container button{
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    margin: 5px;
    border: 1px solid;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.container input:hover{
    width: 290px;
    border-radius: 12px;
}
.container button:hover{
    background-color:rgb(8, 87, 198) ;
    width: 170px;
    border-radius: 35px;
}


.err h1{
    text-align: center;
    color: red;
}
.res h1{
    text-align: center;
    color:#3b5cf1;
    padding: 6px;
    font-size: 23px;
}