*{
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 50%;
    justify-content: center;
    align-items: center;
} 
.container h1,p{
    padding: 10px;
    text-align: center;
}
.form{
    text-align: center;
    font-size: 18px;
    margin: 5px;
}
.form input{
    width: 200px;
    padding: 3px;
}
.form button{
    width: 120px;
    padding: 2px;
    border: 1px solid;
    border-radius: 10px;
}

.lastResult {
    color: white;
    padding: 3px;
    margin: 0px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }